extends index-container

block content
  h1 #{user.name}
  h4 Age:&nbsp;
    small #{user.age}
  h4 Email Address:&nbsp;
    small #{user.emailAddress}
  h4 Mailing Address:&nbsp;
    small #{user.mailingAddress}
  h4 Phone Number:&nbsp;
    small #{user.phoneNumber}
  h4 Appointments:
  table.table.table-striped
    thead
      tr
        th Date
        th Subject
        th Patient
        th Doctor
        th View
    tbody
      each appointment in user.appointments
        tr
          td #{appointment.date}
          td #{appointment.subject}
          td #{appointment.patient.name}
          td #{appointment.doctor.name}
          td
            a.btn.btn-info(href="/users/appointments/" + appointment._id + "/view?token=" + token) View

  a.btn.btn-primary(href="/users/appointments/new"  + "?token=" + token) Make Appointment
  a.btn.btn-default(href="/logout") Log out
