extends layout

block content
  h1 #{name}
  h4 Age:&nbsp;
    small #{age}
  h4 Email Address:&nbsp;
    small #{emailAddress}
  h4 Mailing Address:&nbsp;
    small #{mailingAddress}
  h4 Phone Number:&nbsp;
    small #{phoneNumber}
  a.btn.btn-default(href="/logout") Log out
